<div class="menu-container" {{#if _fullWidthBackground}}style="background-image: url({{_hotspotMenuGraphic.src}});"{{/if}}>
	<div class='menu-container-inner box-menu-inner clearfix'>
		{{#if title}}
		<div class="menu-title">{{{title}}}</div>
		{{/if}}
		{{#if body}}
		<div class="menu-body">
			<div class="menu-body-inner">
				{{{body}}}
			</div>
		</div>
		{{/if}}
		<div class="hotspot-container">
			<div class="hotspot-container-inner">
				<img class="hotspot-container-image{{#if _fullWidthBackground}} is-full-bg{{/if}}" src="{{_hotspotMenuGraphic.src}}" alt="{{_hotspotMenuGraphic.alt}}" />
				<div class="hotspot-items clearfix"></div>
			</div>
		</div>
	</div>
</div>
